sphinx
recommonmark
myst-nb
sphinx-book-theme
sphinx_click
sphinx_design
sphinx_copybutton
numpy>=2.2.6  # needed for numpy.typing.NDArray
pymatgen>=2025.10.7 #==2022.10.22
pymatgen-analysis-defects #>=2022.10.28
ase
matplotlib>=3.10.9
pandas>=2.3.3
seaborn
hiphive
monty
click
shakenbreak
doped>=2.3.1
importlib-metadata
