sphinx
myst-nb
sphinx-book-theme
sphinx_click
sphinx_design
numpy<1.21
pymatgen>2022.0.17 #==2022.10.22
pymatgen-analysis-defects #>=2022.10.28
ase
matplotlib
pandas
seaborn
hiphive
monty
click
shakenbreak
doped
importlib-metadata
