name: Tests

on:
  pull_request:
    branches:
       - main
       - develop
  push:
    branches:
      - main
      - develop
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

      matrix:
        python-version: ['3.8', '3.9', '3.10']
        # hiphive requires numba -> currently incompatible with Python 3.11

    name: Python ${{ matrix.python-version }} Test Pop

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools setuptools_scm wheel
          pip install numpy
          pip install -e .
          pip install -e .[tests]
      - name: Check package versions
        run: |
          pip show -V pymatgen-analysis-defects
          pip show -V pymatgen
          pip show -V pytest
      - name: Test
        run:  |
          for test in tests/test_*py
            do if [[ "$test" != *"test_local"* ]]
              then pytest $test
            fi
          done  # Ignore local tests file, which tests INCAR and POTCAR file writing but not possible on GitHub Actions
          pytest --mpl tests/test_shakenbreak.py  # test output plots
          pytest --mpl tests/test_plotting.py  # test output plots
          # To generate the test plots on GA:
          # pytest --mpl-generate-path=tests/remote_baseline tests/test_plotting.py  # generate output plots
          # pytest --mpl-generate-path=tests/remote_baseline tests/test_shakenbreak.py  # generate output plots

      # Download test plots
      # - name: Archive test plots
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: output-plots
      #     path: tests/remote_baseline

      # - name: Download a single artifact
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: output-plots
