name: Build and test package

on:
  pull_request:
    branches:
       - main
       - develop
  push:
    branches:
      - main
      - develop
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

      matrix:
        python-version: ['3.8', '3.9']  # Excluding 3.10 for the moment, as hiphive requires Numpy <1.22 which is incompatible with Python 3.10, should be fixed soon...

    name: Python ${{ matrix.python-version }} Test Pop

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools setuptools_scm wheel
          pip install numpy
          pip install -e .
          pip install -e .[tests]

      - name: Test
        run:  |
          pytest --ignore=tests/test_local.py  # Ignore local tests file, which tests INCAR and POTCAR file writing but not possible on GitHub Actions
          pytest --mpl tests/test_shakenbreak.py  # test output plots
          pytest --mpl tests/test_plotting.py  # test output plots

  build-linux-standard:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

      matrix:
        python-version: ['3.8', '3.9']  # Excluding 3.10 for the moment, as hiphive requires Numpy <1.22 which is incompatible with Python 3.10, should be fixed soon...

    name: Python ${{ matrix.python-version }} Standard Test Pop

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Standard Install
        run: |
          python -m pip install --upgrade pip
          pip install setuptools setuptools_scm wheel
          pip install numpy
          pip install --user .
          pip install --user .[tests]

      - name: Test
        run:  |
          pytest --ignore=tests/test_local.py  # Ignore local tests file, which tests INCAR and POTCAR file writing but not possible on GitHub Actions
          pytest --mpl tests/test_shakenbreak.py  # test output plots
          pytest --mpl tests/test_plotting.py  # test output plots
          # pytest --mpl-generate-path=tests/remote_baseline tests/test_plotting.py  # test output plots

      # - name: Archive test plots
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: output-plots
      #     path: tests/remote_baseline
      #
      # - name: Download a single artifact
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: output-plots
