name: Tests

on:
  pull_request:
    branches:
       - main
       - develop
  push:
    branches:
      - main
      - develop
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']

    name: Python ${{ matrix.python-version }} Test Pop

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[tests]

      - name: Check package versions
        run: |
          pip show -V pymatgen-analysis-defects
          pip show -V pymatgen
          pip show -V pytest

      - name: Test
        run:  |
          pytest --mpl -vv tests  # test everything
          
          # Generate the test plots in case there were any failures:
          pytest --mpl-generate-path=tests/remote_baseline tests/test_plotting.py
          pytest --mpl-generate-path=tests/remote_baseline tests/test_shakenbreak.py

      # Upload test plots
      - name: Archive test plots
        if: always()  # always upload the plots, even if the tests fail
        uses: actions/upload-artifact@v3
        with:
          name: output-plots
          path: tests/remote_baseline

      # - name: Download a single artifact
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: output-plots
